{% extends "layout.html" %}

{% block title %}
    All Vehicles
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vehicle ID</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Passenger Capacity</th>
                <th scope="col">Route ID</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle[0] }}</td>
                    <td>{{ vehicle[1] }}</td>
                    <td>{{ vehicle[2] }}</td>
                    <td>{{ vehicle[3] }}</td>
                    <td>
                        <form action="/all_vehicles" method="post">
                            <button class="btn btn-primary" type="submit" name="update_button" value="{{ vehicle[0] }}">Update</button>
                            <button class="btn btn-danger" type="submit" name="delete_button" value="{{ vehicle[0] }}">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}