{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    <form action="/buy" method="post">
        <div class="mb-3">
             <input type="hidden" name="route_id" value="{{ route_id }}">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="tc_no" placeholder="TC No" type="number">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="phone" placeholder="Phone Number" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}